* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Overrides the border radius setting in the theme. */
    --ck-border-radius: 2px !important;

    /* Overrides the default font size in the theme. */
    --ck-font-size-base: 15px !important;

    /* Helper variables to avoid duplication in the colors. */
    --ck-custom-background: #181818 !important;
    --ck-custom-foreground: hsl(255, 3%, 18%) !important;
    --ck-custom-border: #393839 !important;
    --ck-custom-white: hsl(0, 0%, 100%) !important;

    /* -- Overrides generic colors. ------------------------------------------------------------- */

    --ck-color-base-foreground: var(--ck-custom-background) !important;
    --ck-color-focus-border: hsl(208, 90%, 62%) !important;
    --ck-color-text: rgb(214, 215, 215) !important;
    --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.2) !important;
    --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1) !important;

    /* -- Overrides the default .ck-button class colors. ---------------------------------------- */

    --ck-color-button-default-background: var(
        --ck-custom-background
    ) !important;
    --ck-color-button-default-hover-background: rgb(51, 51, 51) !important;
    --ck-color-button-default-active-background: hsl(270, 2%, 20%) !important;
    --ck-color-button-default-active-shadow: hsl(270, 2%, 23%) !important;
    --ck-color-button-default-disabled-background: var(
        --ck-custom-background
    ) !important;

    --ck-color-button-on-background: var(--ck-custom-foreground) !important;
    --ck-color-button-on-hover-background: rgb(51, 51, 51) !important;
    --ck-color-button-on-active-background: hsl(255, 4%, 14%) !important;
    --ck-color-button-on-active-shadow: hsl(240, 3%, 19%);
    --ck-color-button-on-disabled-background: var(
        --ck-custom-foreground
    ) !important;

    /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */

    --ck-color-dropdown-panel-background: var(
        --ck-custom-background
    ) !important;
    --ck-color-dropdown-panel-border: var(--ck-custom-foreground) !important;

    /* -- Overrides the default .ck-splitbutton class colors. ----------------------------------- */

    --ck-color-split-button-hover-background: var(
        --ck-color-button-default-hover-background
    ) !important;
    --ck-color-split-button-hover-border: var(
        --ck-custom-foreground
    ) !important;

    /* -- Overrides the default .ck-input class colors. ----------------------------------------- */

    --ck-color-input-background: var(--ck-custom-background) !important;
    --ck-color-input-border: #393839 !important;
    --ck-color-input-text: rgb(214, 215, 215);
    --ck-color-input-disabled-background: hsl(255, 4%, 21%) !important;
    --ck-color-input-disabled-border: hsl(250, 3%, 38%) !important;
    --ck-color-input-disabled-text: hsl(0, 0%, 78%) !important;

    /* -- Overrides the default .ck-labeled-field-view class colors. ---------------------------- */

    --ck-color-labeled-field-label-background: var(
        --ck-custom-background
    ) !important;

    /* -- Overrides the default .ck-list class colors. ------------------------------------------ */

    --ck-color-list-background: var(--ck-custom-background) !important;
    --ck-color-list-button-hover-background: var(
        --ck-custom-foreground
    ) !important;
    --ck-color-list-button-on-background: hsl(208, 88%, 52%) !important;
    --ck-color-list-button-on-text: var(--ck-custom-white) !important;

    /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */

    --ck-color-panel-background: var(--ck-custom-background) !important;
    --ck-color-panel-border: var(--ck-custom-border) !important;

    /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */

    --ck-color-toolbar-background: var(--ck-custom-background) !important;
    --ck-color-toolbar-border: var(--ck-custom-border) !important;

    /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */

    --ck-color-tooltip-background: hsl(252, 7%, 14%) !important;
    --ck-color-tooltip-text: hsl(0, 0%, 93%) !important;

    /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */

    --ck-color-image-caption-background: hsl(0, 0%, 97%) !important;
    --ck-color-image-caption-text: hsl(0, 0%, 20%) !important;

    /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */

    --ck-color-widget-blurred-border: hsl(0, 0%, 87%) !important;
    --ck-color-widget-hover-border: hsl(43, 100%, 68%) !important;
    --ck-color-widget-editable-focus-background: var(--ck-custom-white);

    /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */

    --ck-color-link-default: hsl(190, 100%, 75%) !important;
}

body {
    background-color: rgb(24, 24, 24);
    color: rgb(213, 214, 214);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4;
}

input[type="radio"] {
    background-color: transparent;
}

.custum-radio {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    border: 2px solid #393839;
    position: relative;
}
.custum-radio::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    top: 3px;
    left: 3px;
    border-radius: 4px;
    background-color: #393839;
    transform: scale(0);
    transition: transform 0.1s linear;
}
.custom-radio-parent input:checked ~ .custum-radio {
    border-color: rgb(69, 147, 236);
}
.custom-radio-parent input:checked ~ .custum-radio::before {
    background-color: rgb(69, 147, 236);
    transform: scale(1);
}

a {
    text-decoration: none;
    color: rgb(69, 147, 236);
}

.ck-editor__editable {
    background-color: #181818 !important;
    border-color: #393839 !important;
    color: rgb(214, 215, 215) !important;
}
.ck.ck-button:focus,
.ck.ck-input {
    border-color: #4683ec !important;
    box-shadow: rgb(40, 45, 65) 0 0 0 3px !important;
}

.alert {
    border-radius: 8px;
    padding: 5px;
    font-size: 15px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    z-index: 20;
}
.alert-success {
    background-color: #35e66a;
    color: #000;
}
.z-container {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1100px) {
    .z-container {
        max-width: 100%;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}
.z-trick {
    max-width: calc(1100px + (24px * 2));
}
.z-px--large {
    padding-left: 24px;
    padding-right: 24px;
}
.zu-borderBottom {
    border-bottom-style: solid;
    border-color: #393839;
    border-width: 1px;
}
.zu-height--custom_30 {
    height: 30px;
}
.zu-pd-tse--16 {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}
.zu-cursor--pointer:hover {
    cursor: pointer;
}
.zu-pt--medium {
    padding-top: 16px;
}
.zu-font-bold {
    font-weight: 700;
}
.zu-mx--tiny {
    margin-left: 4px;
    margin-right: 4px;
}
.zu-alignItems--center {
    align-items: center;
}
.zu-font--medium {
    font-weight: 500;
}
.zu-dynamicFontSize--regular_title {
    font-size: 16px;
}
.zu-dynamicFontSize--regular_title:hover {
    text-decoration: underline;
}
.zu-dynamicFontSize--regular-title a {
    font: inherit;
    color: inherit;
}
.zu-mt--small {
    margin-top: 8px;
}
.zu-text--light {
    color: #929498;
}
.zu-me--medium {
    margin-right: 16px;
}
.z-mode--dark .zu-text--light {
    color: #8e9092;
}
.zu-text--gray {
    color: #b1b3b6;
}
.zu-text--gray_dark_dim {
    color: #cdcdcd;
}
.zu-text--gray_dark {
    color: #d5d6d6;
}
.zu-dynamicFontSize--xxlarge {
    font-size: 27px;
}
.zu-dynamicFontSize--xlarge {
    font-size: 21px;
}
.zu-dynamicFontSize--regular {
    font-size: 15px;
}
.zu-dynamicFontSize--small {
    font-size: 13px;
}
.zu-passColorToLinks a {
    color: inherit;
}
.zu-py--tiny {
    padding-top: 4px;
    padding-bottom: 4px;
}
.zh-me--tiny {
    margin-right: 4px;
}
.zu-button {
    height: 38px;
    text-decoration: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-shadow: rgba(177, 179, 182, 0.2) 0 0 0 1px inset;
    user-select: none;
    white-space: nowrap;
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    line-height: 1.2;
    border: none;
    background: none;
    outline: none;
    color: #b1b3b6;
}
.zu-button:hover {
    background-color: rgba(244, 244, 244, 0.04);
}
.z-button--large {
    height: 38px;
}
.zu-button--small {
    height: 32px;
    padding: 0 22px;
    line-height: 1.2;
}
.zu-borderRadius--rounded {
    border-radius: 9999px;
}
.zu-ms--tiny {
    margin-left: 4px;
}
.zu-textAlign--right {
    text-align: right;
}
.zu-border--all {
    border-width: 1px;
    border-style: solid;
    border-color: #393839;
}
.z-mode--dark .zu-border--all {
    border-color: #262626 !important;
}
.zu-backgroundColor--white {
    background-color: #fff;
}
.zu-backgroundColor--raised {
    background-color: #262626;
}
.zu-boxShadow--small {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.zu-borderRadius--small {
    border-radius: 2px;
}
.zh-mb--medium {
    margin-bottom: 16px;
}
.zu-mb--small {
    margin-bottom: 8px;
}
.zu-mb--tiny {
    margin-bottom: 4px;
}
.zu-my--small {
    margin-top: 8px;
    margin-bottom: 8px;
}
.zu-ms--small {
    margin-left: 8px;
}
.zu-flex {
    display: flex;
}
.zh-block {
    display: block;
}
.zh-flexShrink--0 {
    flex-shrink: 0;
}
.zh-flexShrink--1 {
    flex-shrink: 1;
}
.zh-flexGrow--1 {
    flex-grow: 1;
}
.zh-inlineFlex {
    display: inline-flex;
}
.zh-size--36 {
    height: 36px;
    width: 36px;
}
.zh-overflow--hidden {
    overflow: hidden;
}
.zh-borderRadius--circle {
    border-radius: 100%;
}
.zh-me--small {
    margin-right: 8px;
}
.zh-my--auto {
    margin-top: auto;
    margin-bottom: auto;
}
.zu-pb--large {
    padding-bottom: 24px;
}
.zh-text--dark_gray {
    color: #282829;
}
.zh-hover--textDecoration_underline:hover {
    text-decoration: underline;
}
.zh-mt--custom__46 {
    margin-top: 46px !important;
}
.zh-answer li {
    margin-left: 2em;
}
.zu-fixed {
    position: fixed;
}
.zu-bottom--0 {
    bottom: 0;
}
.zu-textAlign--center {
    text-align: center;
}
.zu-width--full {
    width: 100% !important;
}
.zu-py--small {
    padding-top: 8px;
    padding-bottom: 8px;
}
.zu-me--large {
    margin-right: 24px;
}
.zu-inline-block {
    display: inline-block;
}
.zu-py--medium {
    padding-top: 16px;
    padding-bottom: 16px;
}
.zh-px--medium {
    padding-left: 16px;
    padding-right: 16px;
}
.zu-px--small {
    padding-left: 8px;
    padding-right: 8px;
}
.zu-position--relative {
    position: relative;
}

.Button-danger-outline {
    box-shadow: rgba(243, 83, 77, 0.7) 0 0 0 1px inset;
    color: rgb(247, 94, 94);
}
.Button-danger-outline:hover {
    background-color: rgb(59, 44, 44);
}

.User-Show-Tab.active {
    font-weight: 700;
    color: #1f63e2;
}
.User-Show-Tab.active .ACTIVE_BAR {
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 0;
    height: 3px;
    background-color: #1f63e2;
}

button {
    user-select: none;
    white-space: nowrap;
}
button:hover {
    cursor: pointer;
}

.auth_centered {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.auth_centered::before,
.auth_centered::after {
    content: "";
    flex-grow: 1;
    display: block;
    height: 24px;
}
.auth_box_container {
    width: 350px;
    margin: 0 auto;
    background-color: #262626;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 16px 18px 24px 18px;
}
.auth_box_container.login {
    padding: 20px 26px;
}
.auth_box_container h1 {
    padding-bottom: 14px;
    font-size: 28px;
    font-weight: 500;
    color: #ccced1;
}
.login_error_message {
    width: 350px;
    border: 1px solid #f06d6d;
    padding: 7px 3px;
    background-color: #4b3636;
    color: #f05050;
    font-weight: 600;
    margin: 0 auto 24px auto;
    text-align: center;
}
.mbb {
    margin-bottom: 14px;
}
.mbxl {
    margin-bottom: 26px;
}
.row label {
    display: block;
    padding-bottom: 4px;
    font-weight: 600;
    color: #ccced1;
}
.row input {
    min-height: 45px;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 8px;
    font: inherit;
    font-size: 15px;
    border: 1px solid #393839;
    transition: all 0.1s linear;
    background-color: #181818;
    color: rgb(213, 214, 214);
}
.App-Textarea--readonly {
    appearance: none;
    min-height: 0px;
    height: 0;
    border-radius: 2px;
    display: block;
    width: 100%;
    padding: 11px 12px;
    font: inherit;
    font-size: 21px;
    font-weight: 700;
    border-style: solid;
    border-width: 1px;
    border-color: #393839;
    transition-property: border, box-shadow;
    transition-duration: 180ms;
    transition-timing-function: linear;
    background-color: #181818;
    color: #ccced1;
    resize: none;
    line-height: 1.3;
}
.Edit-Form--dob select {
    min-height: 40px;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 8px;
    font: inherit;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #393839;
    transition: all 0.1s linear;
    background-color: #181818;
    color: inherit;
}
.row textarea {
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 8px;
    font: inherit;
    font-size: 13px;
    border: 1px solid #313839;
    transition: border 0.1s linear, box-shadow 0.1s linear;
    resize: none;
    background-color: #181818;
    color: rgb(213, 214, 214);
}
.row textarea#ask-textarea {
    padding: 11px 12px;
    font-size: 15px;
    overflow-y: hidden;
}
.row input:focus,
.row textarea:focus,
.Edit-Form--dob select:focus {
    outline: none;
    border-color: #4683ec;
    box-shadow: rgb(40, 45, 65) 0 0 0 2px;
}
.App-Textarea--readonly:focus {
    outline: none;
    border-color: #4683ec;
    box-shadow: rgb(40, 45, 65) 0 0 0 2px;
}
.row .auth_primary_button {
    border: 1px solid transparent;
    display: block;
    width: 100%;
    border-radius: 4px;
    font: inherit;
    font-weight: normal;
    line-height: 36px;
    user-select: none;
    background-color: #1f63e2;
    font-weight: normal;
    color: #fff;
    font-weight: 600;
    transition: all 0.1s linear;
}
.row .auth_primary_button:focus {
    outline: none;
}
.divider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;
    justify-content: center;
}
.divider .text {
    padding: 0 4px;
    font-size: 12px;
    z-index: 2;
    background-color: #262626;
    flex-shrink: 0;
    color: #ccced1;
}
.divider .line {
    border-top: 1px solid #393839;
    width: 100%;
    z-index: 1;
    flex-grow: 1;
    flex-shrink: 1;
}
.auth_secondry_button {
    border: 1px solid #313539;
    width: 100%;
    border-radius: 4px;
    font: inherit;
    font-weight: normal;
    line-height: 36px;
    user-select: none;
    background-color: #fdf6f6;
    font-weight: normal;
    color: #000;
    transition: all 0.1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
}
.form_error_message {
    padding-top: 2px;
    font-size: 13px;
    color: #c00;
}

.banner {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #262626;
    box-shadow: 0 3px 6px hsla(0, 0%, 7%, 0.1);
    border-bottom: 1px solid #262626;
}
.AppBanner-inner {
    display: flex;
    align-items: stretch;
    height: 50px;
    position: relative;
}
.AppBanner-logo {
    font-size: 21px;
    font-weight: 700;
    color: rgb(68, 128, 238);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    z-index: 3;
}
.AppBanner-Tabs {
    list-style-type: none;
    display: flex;
    align-items: stretch;
    z-index: 2;
    margin-left: 12px;
}
.Tab-item {
    position: relative;
}
.BG_HOVER {
    position: absolute;
    inset: 4px 0px;
    border-radius: 8px;
    pointer-events: none;
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    opacity: 0;
    z-index: 0;
    transform: scale(0.95);
    background-color: rgba(51, 51, 51, 1);
}
.Tab-item:hover .BG_HOVER {
    /* transition-duration: 0s; */
    opacity: 1;
    transform: scale(1);
}
.Tabs-link {
    display: inline-flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 0 20px;
    font-weight: 700;
    color: #b1b3b6;
    position: relative;
}
.Tab-item .z-text {
    z-index: 1;
}
.Tabs-link.active .ACTIVE_BAR {
    position: absolute;
    bottom: 0px;
    height: 3px;
    left: 10px;
    right: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgb(71, 126, 226);
}
.AppBanner-search {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 50%;
    margin-left: -150px;
    z-index: 1;
    display: none;
}
@media (min-width: 1100px) {
    .AppBanner-search {
        display: block;
    }
}
.AppBanner-search form {
    width: 300px;
    display: flex;
    align-items: center;
}
.AppBanner-search form input {
    margin-right: 1px;
    height: 36px;
    border-radius: 2px 0 0 2px;
    border: 1px solid rgb(50, 50, 57);
    flex-shrink: 1;
    flex-grow: 1;
    padding: 8px;
    font-size: 15px;
    font-family: inherit;
    transition: all 0.1s linear;
    background-color: #181818;
    color: inherit;
}
.AppBanner-search form input:focus {
    outline: none;
    border-color: #1f63e2;
    box-shadow: rgb(40, 45, 65) 0 0 0 2px;
}
.escape_header {
    position: relative;
    top: 50px;
}

main .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card {
    background-color: #fff;
    box-shadow: 0 1px 3px hsla(0, 0%, 7%, 0.1);
}

.cover-photo {
    width: 100%;
    height: 240px;
    background-color: hsl(0, 40%, 98%);
}
.flex {
    display: flex;
}
.mg-x-24 {
    margin: 0 24px;
}
.image-180 {
    margin-top: -25px;
    border: 5px solid #fff;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    width: 190px;
    height: 190px;
}
.image-180 label {
    position: absolute;
    inset: 0;
    cursor: pointer;
}
.image-180 input {
    display: none;
}
.image-180 .edit-profile {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(50, 52, 57, 0.8);
    text-align: center;
    padding: 10px 0;
    color: #fff;
    cursor: pointer;
    pointer-events: none;
    transform: translateY(100%);
    transition: transform 0.1s ease-in;
}
.image-180:hover {
    cursor: pointer;
}
.image-180:hover .edit-profile {
    transform: translateY(0);
}
.AppBanner-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.EditPage-Card--right {
    padding-left: 32px;
    padding-top: 16px;
    flex-grow: 1;
    flex-shrink: 1;
}
.Form-Card {
    max-width: 430px;
    width: 100%;
    padding-bottom: 100px;
}
.Edit-Form--dob select:not(:last-child) {
    margin-right: 8px;
}
.Button-primary-outline {
    height: 36px;
    text-decoration: none;
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    font-family: inherit;
    border: 1px solid #4da5ee;
    color: #4da5ee;
    border-radius: 2px;
    user-select: none;
    border-radius: 18px;
    transition: background-color 100ms linear;
}
.Button-small {
    height: 30px !important;
    font-size: 13px !important;
}
.Button-primary-outline:hover {
    background-color: #313752;
}
.Button-primary {
    height: 36px;
    text-decoration: none;
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    font-family: inherit;
    background-color: #3b96fd;
    color: #000;
    border-radius: 2px;
    user-select: none;
    border: none;
    border-radius: 18px;
}
.mlb {
    margin-left: 8px;
}
.AppBanner-Profile-Container {
    position: relative;
    margin-left: 8px;
}
.Banner-Profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.Banner-Profile img {
    display: block;
    width: 100%;
    height: 100%;
}
.Profile-Model {
    z-index: 20;
}
.Profile-Model .columns {
    background-color: #262626;
    border-radius: 2px;
    width: 300px;
    border: 1px solid #383938;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 3px 8px rgba(0, 0, 0, 0.05);
}
.Profile-Model .arrow {
}
.Profile-Model form {
    width: 100%;
    z-index: 2;
}
.Profile-Model a,
.Profile-Model button {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: none;
    user-select: none;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 2px;
    border: none;
    font-family: inherit;
    color: #d1d3d6;
    z-index: 2;
    width: 100%;
}
.Profile-Model form button {
    display: block;
    text-align: left;
}
.Profile-Model a:hover,
.Profile-Model button:hover {
    background-color: rgb(51, 51, 51);
}
.hide {
    display: none !important;
}

.CreateQuestion-Box {
    width: 100%;
    background-color: #fff;
    padding: 0 24px 40px;
}
.CreateQuestion-title {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 24px;
}
.CreateQuestion-Box textarea {
    resize: vertical;
    font-size: 18px;
}
.mbl {
    margin-bottom: 22px;
}
.CreateQuestion-Box form {
    text-align: right;
}
.ml-auto {
    margin-left: auto;
}
.ShowQuestion-container {
    width: 650px;
    margin-right: auto;
}
.ShowQuestion-Box {
    background-color: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border: solid 1px #ddd;
    border-radius: 2px;
    padding: 12px 12px 0;
}
.ck-button:hover {
    cursor: pointer !important;
}

/* 

=============================================================
=                                                           =
=                       Quill Editor                        =
=                                                           =
=============================================================

*/
